.section__container {
    display: flex;
    padding: 3%;
    justify-content: space-around;
}
.section_food__container{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1% 4%;
}